* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #f4ac32;
  --secondaryColor: #dd6031;
  --thirdColor: black;
}

body {
  background: url("./images/wallp.jpeg");
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
table {
  border-collapse: collapse;
  width: 50%;
  text-align: center;
  user-select: none;
  font-family: "Roboto", sans-serif;
  color: black;
  margin: auto;
  font-size: 1.5rem;
  background-color: var(--primaryColor);
  -webkit-box-shadow: 28px 28px 20px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: 28px 28px 20px -11px rgba(0, 0, 0, 1);
  box-shadow: 28px 28px 20px -11px rgba(0, 0, 0, 1);
}
table,
th,
td {
  border: 5px solid var(--secondaryColor);
}
div {
  display: block;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
div p {
  user-select: none;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--primaryColor);
  font-size: 1.5rem;
}
button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: var(--secondaryColor);
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
p {
  user-select: none;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--primaryColor);
  font-size: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
}
li {
  text-align: center;
  list-style-type: none;
  padding: 1rem, 2rem, 1rem, 2rem;
  font-size: 1.5rem;
}
li a {
  text-decoration: none;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--secondaryColor);
  color: black;
  font-family: "Roboto", sans-serif;
  transition: 0.4s;
}
a:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--secondaryColor);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}
.p {
  background-color: var(--primaryColor);
  color: var(--thirdColor);
  padding: 1.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 10px 9px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 9px 18px 0px rgba(0, 0, 0, 0.75);
}
